/*
Design by http://www.bluewebtemplates.com
Released for free under a Creative Commons Attribution 3.0 License
*/
@charset "utf-8";
@font-face {
  font-family: Raleway;
  src: url(Raleway-VariableFont_wght.ttf);
}
body { margin:0; padding:0; width:100%; color:#505050; font:normal 12px/1.8em Raleway;}
html, .main { padding:0; margin:0; background-color:#dedede;}
.clr { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}
h1 { margin:0; padding:0; color:#fff; font:normal 40px/1.2em Arial, Helvetica, sans-serif; text-transform:uppercase; text-align:center;}
.h1_diff {margin:0; padding:0; color:#fff; font:normal 40px/1.2em Raleway; color:#666666; text-transform:none; text-align:justify;}
.h1_diff span {margin:0; padding:0; color:#fff; font:normal 40px/1.2em Raleway; color:#1b1b1b;}
h1 a, h1 a:hover { color:#fff; text-decoration:none;}
h1 span { color:#007236;}
h1 small { font:normal 13px/1.2em Arial, Helvetica, sans-serif;}
h2 { font:normal 24px Arial, Helvetica, sans-serif; color:#4b4b4b; padding:8px 0; margin:8px 0;}
p { margin:8px 0; padding:0 0 8px 0; font:normal 12px/1.8em Arial, Helvetica, sans-serif;}
a { color:#7baf30; text-decoration:underline;}

.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar { margin:0; padding:0;}
.content_resize, .fbg_resize, .footer_resize { margin:0 auto; padding:0 40px; width:890px;}

/* header */
.header { /*background:url(header_bg.jpg) repeat-x center top;*/ 
    width: 970px;
    height: 337px;
    background-image: url('header_bg.jpg');
    /*background-size: cover;*/
    background-position: center;
    transition: background-size 0.5s ease;  /*Adjust the transition for smoother zooming */

    /* Set fixed background for desktop */
    @media only screen and (min-width: 768px) {
        background-attachment: fixed;
    }
    
    /* Avoid tiling on mobile */
    @media only screen and (max-width: 767px) {
        background-size: 100% 100%;
        background-attachment: scroll;
    }
}
.header_resize { margin:0 auto; padding:0; width:970px; height:337px; }
.header .logo{ padding:100px 0 0; }

/* menu */
.menu_nav { padding-left:20px; float:left; width:auto;}
.menu_nav ul { list-style:none;}
.menu_nav ul li { margin:0 4px; float:left; }
.menu_nav ul li a { display:block; margin:0; padding:23px 24px; color:#fff; text-decoration:none; }
.menu_nav ul li.active a, .menu_nav ul li a:hover { background:url(menu_a.gif) repeat top; }


        .fancy-button {
            display: inline-block;
            padding: 15px 30px;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            border-radius: 8px;
            transition: background-color 0.3s, color 0.3s;
            background-color: #b2fa46;
            color: #ffffff;
            border: 2px solid #3498db;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .fancy-button:hover {
            background-color: #2980b9;
            border-color: #2980b9;
        }


/* search */
.searchform { float:right; width:auto;}
#formsearch { margin:0; padding:12px 20px 0 0; }
#formsearch span { display:block; margin:6px 0; padding:0 8px 0 11px !important; padding:0 4px 0 6px; float:right; width:183px; background:#fff url(search.gif) no-repeat top left;}
#formsearch input.editbox_search { margin:0; padding:5px 0; float:left; width:180px; height:20px; border:none; background:none; font:normal 13px/20px Arial, Helvetica, sans-serif; color:#a8acb2;}
#formsearch input.button_search { margin:6px 0 0 0; padding:0; border:none; float:right;}

/* content */
.content {background-color: #1f262c;}
.section { color: #007236; }
.content_resize { padding-right:0; padding-top:16px; width:930px; background-color:#fdfdfd; border-radius: 0px 0px 8px 8px;}
.content .mainbar { float:left; width:630px;}
.content .mainbar img { margin-bottom:24px; padding:4px; background-color:#fff;}
.content .mainbar img.fl { float:left; margin-right:12px;}
.content .mainbar .article, .content .sidebar .gadget { margin:0; padding:0 0 16px 0;}
.content .sidebar { float:right; width:276px;}
ul.sb_menu, ul.ex_menu { margin:0; padding:0; list-style:none; color:#959595;}
ul.sb_menu li, ul.ex_menu li { margin:0; background:url(li.gif) no-repeat 0 12px;}
ul.sb_menu li { padding:4px 0; width:220px;}
ul.ex_menu li { padding:4px 0 8px;}
ul.sb_menu li a, ul.ex_menu li a { color:#5f5f5f; text-decoration:none; margin-left:-16px; padding-left:16px;}
ul.sb_menu li a:hover, ul.ex_menu li a:hover { color:#7baf30; font-weight:bold; background:url(li_a.gif) no-repeat left center;}
ul.sb_menu li a:hover { text-decoration:underline;}
ul.ex_menu li a:hover { text-decoration:none;}

/* subpages */
.content .mainbar .comment { margin:0; padding:16px 0 0 0; background-color: #dedede;}
.content .mainbar .comment img.userpic { border:1px solid #dedede; margin:10px 16px 0 0; padding:0; float:left;}

/* fbg */
.fbg_resize { background-color:#fff; padding:24px 40px;}
.fbg img { border:1px solid #d6d6d6;}
.fbg .col { margin:0; float:left;}
.fbg .c1 { padding:0 16px 0 0; width:296px;}
.fbg .c2 { padding:0 16px; width:240px;}
.fbg .c3 { padding:0 0 0 16px; width:290px;}
.fbg .c1 img { margin:8px 16px 4px 0; float:left;}

/* footer */
.footer { padding:16px; background-color: #343434;}
.footer p.lf { margin:0; padding:4px 0; float:right; width:auto; line-height:1.5em; color: #dedede}
ul.fmenu { margin:0; padding:2px 0; list-style:none; float:left; width:auto;}
ul.fmenu li { margin:0; padding:0 4px; float:left;}
ul.fmenu li a { color:#5f5f5f; text-decoration:none; padding:2px 6px; color: #dedede;}
ul.fmenu li a:hover, ul.fmenu li.active a { color:#7baf30;}
ul.fmenu li a:hover { text-decoration:underline;}

/* form */
ol { list-style:none;}
ol li { display:block; clear:both;}
ol li label { display:block; margin:0; padding:16px 0 0 0;}
ol li input.text { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:5px 2px; height:16px; background:#fff;}
ol li textarea { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:2px; background:#fff;}
ol li .send { margin:16px 0 0 0;}
